{% extends "layout.html" %}
{% load static %}

{% block contenido %}
    <h1>Listado de películas</h1>
    <table class="table table-stripped">
    <thead>
        <tr>
            <th>Año</th>
            <th>Nombre</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2022</td>
            <td>Potato: Origins</td>
            <td>
                <img src="{% static 'img/potato.png' %}"
                     class="img-thumbnail"
                     alt="My image">
            </td>
        </tr>
    </tbody>
    </table>
{% endblock %}